.home {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home-projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
}